<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../uvalib-theme/uvalib-theme.html">
<link rel="import" href="../uvalib-theme/uvalib-skip-nav-style.html">
<link rel="import" href="../uvalib-theme/uvalib-ui-element.html">

<dom-module id="uvalib-skip-nav">
  <template>
    <custom-style>
      <style include="uvalib-theme uvalib-skip-nav-style">
      </style>
    </custom-style>

    <iron-a11y-keys id="content-keys" target="[[_targetContent]]" keys="enter" on-keys-pressed="_jumpToContent"></iron-a11y-keys>
    <iron-a11y-keys id="search-keys" target="[[_targetSearch]]" keys="enter" on-keys-pressed="_jumpToSearch"></iron-a11y-keys>
    <iron-a11y-keys id="navigation-keys" target="[[_targetNavigation]]" keys="enter" on-keys-pressed="_jumpToNavigation"></iron-a11y-keys>
    <iron-a11y-keys id="header-keys" target="[[_targetHeader]]" keys="enter" on-keys-pressed="_jumpToHeader"></iron-a11y-keys>
    <iron-a11y-keys id="footer-keys" target="[[_targetFooter]]" keys="enter" on-keys-pressed="_jumpToFooter"></iron-a11y-keys>

    <nav id="jumpToOptions" class="jump-to-options-hidden" aria-labelledby="accessibility" tabindex="0" on-focus="_showJumpNavigation" on-blur="_hideJumpNavigation" aria-hidden="true">
      <h2 id="accessibility">Skip To</h2>
      <ul>
        <li><a id="search" on-tap="_jumpToSearch" href="">Search</a></li>
        <li><a id="content" on-tap="_jumpToContent" href="">Main Content</a></li>
        <li><a id="navigation" on-tap="_jumpToNavigation" href="">Navigation</a></li>
        <li><a id="header" on-tap="_jumpToHeader" href="">Header</a></li>
        <li><a id="footer" on-tap="_jumpToFooter" href="">Footer</a></li>
      </ul>
    </nav>

  </template>

  <script>
  /**
   * `uvalib-skip-nav`
   * Accessibility component that becomes visible on focus and allows for jumping to landmark content.
   *
   * ### Styling
   *
   * The following custom properties are available for styling:
   *
   * Custom property | Description | Default
   * ----------------|-------------|----------
   * `--uvalib-skip-nav-color` | Color of skip text | white
   * `--uvalib-skip-nav-bkgrd-color` | Background color of skip hyperlink | red
   *
   * @customElement
   * @polymer
   * @demo demo/index.html
   */
  //class UvalibSkipNav extends UvalibUiElement {
  class UvalibSkipNav extends Polymer.Element {
    static get is() { return 'uvalib-skip-nav'; }
    static get properties() {
        return {
            _targetContent: {
              type: Object
            },
            _targetSearch: {
              type: Object
            },
            _targetNavigation: {
              type: Object
            },
            _targetHeader: {
              type: Object
            },
            _targetFooter: {
              type: Object
            }
          };
    }

    ready() {
      super.ready();
      this._targetContent = this.$.content;
      this._targetSearch = this.$.search;
      this._targetNavigation = this.$.navigation;
      this._targetHeader = this.$.header;
      this._targetFooter = this.$.footer;
    }

    _showJumpNavigation(e) {
      this.$.jumpToOptions.classList.add('jump-to-options-visible');
      this.$.jumpToOptions.setAttribute('aria-hidden','false');
      this.$.search.focus();
    }

    _hideJumpNavigation(e) {
      if (e.relatedTarget) {
        if (e.relatedTarget.id == 'search') {
        } else {
          this.$.jumpToOptions.classList.toggle('jump-to-options-visible');
          if (this.$.jumpToOptions.getAttribute('aria-hidden') == 'true') {
            this.$.jumpToOptions.setAttribute('aria-hidden','false');
          }
        }
      } else {
        this.$.jumpToOptions.classList.toggle('jump-to-options-visible');
        if (this.$.jumpToOptions.getAttribute('aria-hidden') == 'true') {
          this.$.jumpToOptions.setAttribute('aria-hidden','false');
        }
      }
    }

    _jumpToSearch(e) {
      e.preventDefault();
      this.dispatchEvent(new CustomEvent('jumpToSearch', { bubbles: true, composed: true }));
      this.$.jumpToOptions.classList.toggle('jump-to-options-visible');
    }
    _jumpToContent(e) {
      e.preventDefault();
      this.dispatchEvent(new CustomEvent('jumpToContent', { bubbles: true, composed: true }));
      this.$.jumpToOptions.classList.toggle('jump-to-options-visible');
    }
    _jumpToNavigation(e) {
      e.preventDefault();
      this.dispatchEvent(new CustomEvent('jumpToNavigation', { bubbles: true, composed: true }));
      this.$.jumpToOptions.classList.toggle('jump-to-options-visible');
    }
    _jumpToHeader(e) {
      e.preventDefault();
      this.dispatchEvent(new CustomEvent('jumpToHeader', { bubbles: true, composed: true }));
      this.$.jumpToOptions.classList.toggle('jump-to-options-visible');
    }
    _jumpToFooter(e) {
      e.preventDefault();
      this.dispatchEvent(new CustomEvent('jumpToFooter', { bubbles: true, composed: true }));
      this.$.jumpToOptions.classList.toggle('jump-to-options-visible');
    }
  }

  window.customElements.define(UvalibSkipNav.is, UvalibSkipNav);
  </script>
</dom-module>
