<link rel="import" href="../uvalib-theme/uvalib-ui-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../uvalib-theme/uvalib-icons.html">
<link rel="import" href="../uva-models/uva-library.html">
<link rel="import" href="../marked-element/marked-element.html">
<link rel="import" href="../uva-helper-libs/polyfills/string.includes.html">
<link rel="import" href="../uvalib-theme/uvalib-theme.html">
<link rel="import" href="../uvalib-theme/uvalib-page-style.html">
<link rel="import" href="../paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../app-storage/app-localstorage/app-localstorage-document.html" />

<link rel="import" href="../bwt-datatable/bwt-datatable-column.html">
<link rel="import" href="../bwt-datatable/bwt-datatable.html">

<dom-module id="uvalib-services">
  <template>
    <custom-style>
      <style include="uvalib-theme uvalib-page-style">
        :host {
          display: block;
        }
        [hidden] {
          display: none;
        }
      </style>
    </custom-style>

    <app-localstorage-document key="uvalib-staff-view" data="{{_staffView}}"></app-localstorage-document>
    <div id="container">
      <!--
      <div class="searchField">
        <paper-input no-label-float class="search-field" value="{{_query}}" label="" placeholder="Find Service by Name or Location" tabindex="0"></paper-input>
      </div>
      <div>
        Need to contact a staff member?<br />
        <a href="/directory">Visit our staff directory ></a>
      </div>
      <hr />
    -->
      <div id="controls">
        <paper-input label="Filter" value="{{_query}}"></paper-input>
        <paper-toggle-button id="staffSelect" checked="{{_staffView}}">
          <template is="dom-if" if="[[_staffView]]">Staff View</template>
          <template is="dom-if" if="[[!_staffView]]">Public View</template>
        </paper-toggle-button>
      </div>

      <uva-library id="libs" last-response="{{_libraries}}"></uva-library>
      <uva-library path="services" last-response="{{_services}}"></uva-library>
      <paper-datatable data="{{_data}}">
				<paper-datatable-column header="Service" property="title" type="String" sortable sorted sort-direction="{{_sortDir}}"></paper-datatable-column>
				<paper-datatable-column header="Location" property="library" type="Object" default="1">
          <template>[[_getLibs(value)]]</template>
        </paper-datatable-column>
				<paper-datatable-column header="Contact">
          <template>
            <!-- use uvalib-liame for email -->
            <div hidden$="[[!item.emailAddress]]"><a href="mailto:[[item.emailAddress]]">[[item.emailAddress]]</a><br /></div>
            <div hidden$="[[!item.phoneNumber]]"><a href="tel:[[item.phoneNumber]]">[[item.phoneNumber]]</a><br /></div>
					</template>
        </paper-datatable-column>
			</paper-datatable>

    </div>
  </template>

  <script>
    /**
     * `uvalib-services`
     * UVA Library page layout component
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class UvalibServices extends UvalibUiElement {
      static get is() { return 'uvalib-services'; }
      static get properties() {
        return Object.assign(super.properties,
            {
              _query: {
                type:String,
                observer: "_mkServices"
              },
              _staffView: {
                type: Boolean,
                value: false,
                notify: true,
                observer: "_mkServices"
              },
              _libraries: {
                type: Array,
                notify: true,
              },
              _services: {
                type:Array,
                notify: true,
                observer: "_mkServices"
              },
              _data: {
                type: Array,
                value: function(){ return []; },
                notify: true
              },
              _sortDir: {
                type: String,
                value: "desc",
                observer: "_sortChange"
              }
            });
      }
      //Concat the this elements template with the parents
      static get template() {
        var parentTemplate = UvalibUiElement.template.cloneNode(true);
        var childTemplate = Polymer.DomModule.import('uvalib-services', 'template');
        parentTemplate.content.insertBefore(childTemplate.content,null);
        return parentTemplate;
      }
      _mkServices() {
        //clone the pristine services listing so that we can come back from filters w/o reloading
        if (this._libraries && this._libraries.length > 0){
          var data = JSON.parse(JSON.stringify(this._services));
          this._sortData(this._filterData(data));
        } else {
          setTimeout(function(){this._mkServices()}.bind(this),500);
        }
      }
      _filterData(data){
        if (this._query) {
          data = data.filter( this._filter(this._query) );
        }
        if (!this._staffView) {
          return data.filter( (s)=>(!s.audience || s.audience != "staff") );
        } else {
          return data;
        }
      }
      _sortChange(){
        if(this._data) {
          this._sortData( JSON.parse(JSON.stringify(this._data)) );
        }
      }
      _sortData(data){
        var dir = this._sortDir;
        console.log(dir);
        if(data) {
          data.sort(function(a,b){
            if (dir === "desc") {
              return a.title.toLowerCase().localeCompare(b.title.toLowerCase());
            } else {
              return b.title.toLowerCase().localeCompare(a.title.toLowerCase());
            }
          });
          this.set('_data', data );
        }
      }
      _getLibs(libs){
        if (!libs) {
          return "online";
        } else {
          if (!this._libs) {
            this._libs = this.$.libs.getHash('id',['title']);
          }
          if (Object.keys(this._libs).length > 0) {
            libs = Array.isArray(libs)?libs:[libs];
            return libs.map(function(a){return (this._libs[a.id])? this._libs[a.id].title: null;}.bind(this)).sort().join(', ');
          }
          return "";
        }
      }
      _filter(query){
        if (!query) {
          return null;
        } else {
          query = query.toLowerCase().trim().replace(/ +(?= )/g,'');
          return function(s) {
            var title = s.title.toLowerCase();
            var loc = this._getLibs(s.library).toLowerCase();
            return (title.indexOf(query) != -1 || loc.indexOf(query) != -1);
          }.bind(this);
        }
      }
/*
      _copy(aObject) {
        var bObject, v, k;
        bObject = Array.isArray(aObject) ? [] : {};
        for (k in aObject) {
          v = aObject[k];
          bObject[k] = (typeof v === "object") ? this._copy(v) : v;
        }
        return bObject;
      }
      _alphaSort(a,b){
        return a.title.toLowerCase().localeCompare(b.title.toLowerCase());
      }
      _filt(){
        if(Array.isArray(this.services)) {

          var l = this.services.map( (s) => this._copy(s) );
          l.sort(this._alphaSort);
          if (this._query) {
            return l.filter(function(s){
                      return s.title.toLowerCase().includes(this._query.toLowerCase().trim().replace(/ +(?= )/g,''))
                             ||
                             this._getLibs(s.library).toLowerCase().includes(this._query.toLowerCase().trim().replace(/ +(?= )/g,''));
                    }.bind(this));
          } else {
            return l;
          }

        }
      }
*/
    }

    window.customElements.define(UvalibServices.is, UvalibServices);
  </script>
</dom-module>
